<div>
        <label> <%= typeof session_usr_vezeteknev === 'undefined' ? '' : user.session_usr_vezeteknev+' '+session_usr_keresztnev %></label>
        <a href="/logout" class="btn btn-primary btn-sm">Logout</a>
        <a href="/" class="btn btn-primary btn-sm">Home</a>
        <a href="/profil" class="btn btn-primary btn-sm">Profil</a>
</div>
