<%- include('loginHeader') %>
<h1>Bejelentkezés</h1>

<form action="/login" method="POST">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="usr_username"
               placeholder=" " value="">
        <label for="usr_username">Felhasználó név</label>
    </div>
    <div class="form-floating mb-3">

        <input type="password" class="form-control" name="usr_password" required>
        <label for="password">Jelszó:</label>
        <br>

    </div>
    <div class="d-flex gap-2">
        <input type="submit" class="btn btn-primary flex-fill" value="Bejelentkezés">
        <a class="btn btn-warning flex-fill" href="/">Cancel</a>
    </div>
    <div class="d-flex gap-2">
        <a class="btn btn-warning flex-fill" href="/forgetpassword">Elfelejtett a jelszó</a>
    </div>
</form>
<%- include('footer') %>